body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,embed,object{margin:0;padding:0;}
body a{outline:none}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr{border:0;}
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{font-style:normal;font-weight:normal;}
ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1.0em;}
q:before,q:after{content:'';}
a,ins{text-decoration:none;}
*			{margin:0;padding:0;outline:none;}
img			{border: none;}
a			{color:#006699;text-decoration:none;}
a:hover			{color:#333;border-bottom: solid 1px #333;text-decoration:none;}
body			{font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;color:#333;background:#fff;line-height:1.5;}
h2		 	{letter-spacing:-1px;font-family:helvetica,arial,verdana;margin:0 0 .5em;color:#000; border-bottom:1px solid #ccc;font-weight:bold;}
h2 			{font-size:140%;color:#666;}
.clear			{clear:both}

/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/drop_examples.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/* commom style for all browsers */
.container4 {
text-align:center; background:#eee url(../images/menu/menu4.gif); border-width:1px 1px 1px 1px; height:30px;
margin:0 0 1px 0; /* for this demo only */
}
.menu4 {
text-align:left; font-family: verdana, sans-serif; position:relative; font-size:0.85em; background:transparent; width:900px; height:30px; margin:0 auto;
}
.menu4 ul {
padding:0; margin:0; list-style-type: none;
}
.menu4 ul li {
float:left; position:relative;
}
.menu4 ul li.articles {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.users {background:transparent url(../images/menu/user.gif) 9px 6px no-repeat;}
.menu4 ul li.groups {background:transparent url(../images/menu/users_options_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.settings {background:transparent url(../images/menu/site_settings_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.add_article {background:transparent url(../images/menu/articles_add.gif) 9px 6px no-repeat;}
.menu4 ul li.categories {background:transparent url(../images/menu/edit_categories.gif) 9px 6px no-repeat;}
.menu4 ul li.password {background:transparent url(../images/menu/edit_categories.gif) 9px 6px no-repeat;}
.menu4 ul li.add_user {background:transparent url(../images/menu/user_add.gif) 9px 6px no-repeat;}
.menu4 ul li.delete {background:transparent url(../images/menu/delete.gif) 9px 6px no-repeat;}
.menu4 ul li.show {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.last {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.first {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.all {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.none {background:transparent url(../images/menu/articles_menu.gif) 9px 6px no-repeat;}
.menu4 ul li.subsubl {background-image:url(../images/menu/next.gif);background-repeat: no-repeat;background-position: top right;}

.menu4 ul li a, .menu4 ul li a:visited {
display:block; text-decoration:none; width:120px; height:30px; color:#000; padding-left:30px; line-height:29px;
}
* html .menu4 ul li a, .menu4 ul li a:visited {
width:120px;
}

.menu4 ul li ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}

/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.menu4 ul li:hover a,
.menu4 ul li a:hover {
color:#c00; text-decoration:none; border:0;
}
.menu4 ul li:hover ul,
.menu4 ul li a:hover ul {
visibility:visible; width:170px; height:auto; position:absolute; top:30px; left:-1px; background:#fff; border:1px solid #909; overflow:visible;
}
.menu4 ul li:hover ul li a,
.menu4 ul li a:hover ul li a {
display:block; background:transparent; text-decoration:none; color:#c00; height:auto; line-height:1.5em; padding:5px 10px 5px 35px; width:170px; w\idth:125px;
}
.menu4 ul li:hover ul li a.drop,
.menu4 ul li a:hover ul li a.drop {
display:block; color:#000; height:auto; line-height:1.5em; padding:5px 10px 5px 35px; width:170px; w\idth:125px;
}
.menu4 ul li:hover ul li ul,
.menu4 ul li a:hover ul li a ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}
.menu4 ul li:hover ul li a:hover,
.menu4 ul li a:hover ul li a:hover {
color:#00f; text-decoration:underline;
}
.menu4 ul li:hover ul li:hover ul,
.menu4 ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; top:0; color:#000; left:166px; height:auto; border:1px solid #909;
}
.menu4 ul li:hover ul li:hover ul.left,
.menu4 ul li a:hover ul li a:hover ul.left {
left:-166px;
}
.menu4 ul li:hover ul li:hover ul li a,
.menu4 ul li a:hover ul li a:hover ul li a {
display:block; color:#00f; height:auto; line-height:1.5em; padding:5px 10px 4px 35px; width:170px; w\idth:140px;
}
* html .menu4 ul li a:hover ul li a:hover ul li a {padding:4px 10px 4px 35px;}

.menu4 ul li:hover ul li:hover ul li:hover a,
.menu4 ul li a:hover ul li a:hover ul li a:hover {
color:#000; text-decoration:underline;
}
